/* 变色 
@keyframes myfirst{
    from{background: red;}
    to{background:green;}
}
h1{
animation: myfirst 2s infinite;
}

透明变化 
@keyframes myfirst2{
    from{opacity:1}
    to{opacity:100}
}
h2{
animation: myfirst2 1s infinite;
}
 */

/* 简单动画 */

/* @keyframes mykeyframes{
    0% {opacity: 0}
    50% {opacity: 100}
    100% {opacity: 0}
}
p{
    animation:mykeyframes 2s infinite;
    animation-timing-function: linear;
}
 */

/* 春夏秋冬动画 */
html,body,page{
    width: 100%;
    height: 100%;
    margin: 0;    
}
page {
    height: 100%;
    font-size: 160px;
    padding-top: 30%;
    padding-left: 30%;
    position: absolute;   
}

#c {
    background-color: lightgreen;
    animation: c 10s infinite;
}

#x {
    background-color: red;
    animation: x 10s infinite;
}

#q {
    background-color: white;
    animation: q 10s infinite;
    background-image: url("https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1532610714&di=a810c5dd5b7f490faf96bde461cc4750&src=http://images4.c-ctrip.com/target/t1/hhtravel/102/289/441/e5706a6d467346ce9d562b19141b5b46.jpg");
    background-size: 100%;
}

#d {
    background-color: black;
    color: white;
    animation: d 10s infinite;
}
#z{
    font-size: 36px;
    display: block;
    animation: z 10s infinite;
}
@keyframes z {
    0%{opacity: 0;    }
    70%{opacity: 0;    }
    80%{opacity: 100;}
    90%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes c {
    0%{opacity: 0;    }
    20%{opacity: 100;    }
    40%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes x {
    0%{opacity: 0;    }
    20%{opacity: 0;    }
    40% {opacity: 100;    }
    60%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes q {
    0%{opacity: 0;    }
    40% {opacity: 0;    }
    60%{opacity: 100;}
    80%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes d {
    0%{opacity: 0;    }
    60% {opacity: 0;    }
    80%{opacity: 100;}
    100%{opacity: 0;}
}